<div >
    <h2 *ngIf="students">Choose student courses to view</h2>
    <h2 *ngIf="enrollments">Choose department courses to view</h2>
    <div>
     <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let student of students"
          (click)="selectStudent(student)"
          [class.active]="student === selectedStudent">
          {{student.StudentName}}
        </li>
      </ul>

      <div *ngIf="showResult" class="col-md-5 col-md-offset-2">
        <app-result-table
          [showResults]="showResult"
          [cols]="cols"
          [data]="data"
          (menu)="goMenu()">
        </app-result-table>
      </div>
    </div>
 <button *ngIf="!showResult" class="btn btn-warning" (click)="goMenu()">Menu</button>
</div>