.container {
    display: flex;
    background-color: #502700;
    justify-content: center;
    max-width: 120%;
    height: 100vh;
    color: white;
  }
  
  body, html {
    width: 100%;
  }
  .nav {
    align-self: center;
    width: 100%;
    height: 100vh;
    padding-top: 8%;
    padding-left: 20%;
  }

.button{
    margin-top: 5%;
}